/*
 * Empty Stylesheet file.
 */


/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

@font-face {
    font-family: 'Righteous';
    src: url('../posapplication/fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../posapplication/fonts/Poppins-Semibold.ttf');
}


.sidebar_text_color{
    -fx-text-fill: white;
}

.header, .header:disabled {
    -fx-font-family: 'Righteous';
    -fx-font-size: 20px
}

.poppins_font_name, poppins_font_name:disabled{
    -fx-font-family: 'Poppins Semibold';
    -fx-font-size: 14px
}

.poppins_font_sub, poppins_font_sub:disabled{
    -fx-font-family: 'Poppins Semibold';
    -fx-font-size: 10px
}

.tab:hover, .selected_tab{
    -fx-background-color: white;
}

.tab:hover FontAwesomeIconView, .selected_tab FontAwesomeIconView{
    -fx-fill:  #03405C;
}

.tab Label, .tab:disabled Label{
    -fx-font-size: 16px;
    -fx-font-family: 'Righteous';
}

.tab:hover Label, .selected_tab Label, .register_button {
    -fx-text-fill:  #03405C;
    -fx-font-size: 16px;
    -fx-font-family: 'Righteous';
}

.signOut:hover{
    -fx-background-color: white;
}

.signOut:hover Label {
    -fx-text-fill:  #ff0f0f;
    -fx-font-size: 16px
}

.signOut:hover FontAwesomeIconView{
    -fx-fill:  #ff0f0f;
}

.signOut Label, .signOut:disabled Label{
    -fx-font-size: 16px;
    -fx-font-family: 'Righteous';
}

.datePicker, .datePicker:disabled{
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #bbbbbb;
    -fx-focus-color: transparent;
    -fx-border-radius: 5;
    -fx-font-size: 14px
    
}

.combobox, .combobox:disabled{
    -fx-font-size: 14px;
    -fx-border-color: #bbbbbb;
}

.white_background, .white_background:disabled{
    -fx-background-color: white;

}





.register_button, .register_button:disabled {
    -fx-background-color: #03405C;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.secondary, .secondary:hover .secondary:disabled {
    -fx-border-color: #03405C;
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
    -fx-font-family: 'Righteous';
}

.noticifcation FontAwesomeIconView{
    -fx-fill:  white;
}

.noticifcation_text, .noticifcation_text:disabled{
    -fx-font-size: 18px;
    -fx-font-family: 'Righteous';
}
.small_date, .small_date:disabled{
    -fx-font-size: 14px;
    -fx-font-family: 'Righteous';
}

.side_bar{
    -fx-background-radius: 30 0 0 30;
    -fx-border-radius: 30 0 0 30;
}

.text_color{
    -fx-text-fill: black;
}

.combobox{
    -fx-font-size: 14px;
}

.dataBackup, .dataBackup:disabled {
    -fx-font-family: 'Righteous';
    -fx-font-size: 28px
}



/*
.header, .header:disabled {
    -fx-font-family: 'Righteous';
    -fx-font-size: 34px
}

.sub_header, .sub_header:disabled{
    -fx-font-family: 'Roboto';
    -fx-font-size: 16px
}

.textfield_label, .textfield_label:disabled{
    -fx-font-family: 'Righteous';
    -fx-font-size: 14px
}
.remember_me, .remember_me:disabled{
    -fx-font-family: 'Roboto';
    -fx-font-size: 12px
}

.bottom, .bottom:disabled {
    -fx-font-family: 'Righteous';
    -fx-font-size: 12px
}

.mainPage{
    -fx-background-image: url('../images/loginImage.jpg');
    -fx-background-size: cover;
}

.white_background{
    -fx-background-color: white;

}

.text_field{
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}


.text_field:active {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}


.text_color{
    -fx-text-fill: black;
}

.checkbox_color:hover{
    -fx-background-color: inherit;
}

.button, .button:hover{
    -fx-font-size: 18px;
    -fx-font-family: 'Righteous';
}

.warning_red{
    -fx-background-color: #ff0f0f
}

.warning_text{
    -fx-text-fill: #ff0f0f
}

.background_radius{
    -fx-background-radius: 10
}

.warning_header{
    -fx-font-family: 'Righteous';
    -fx-font-size: 20px
}
.warning_border{
    -fx-border-color: #ff0f0f
}
.normal_border{
    -fx-border-color: #bbbbbb
}
*/